@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


*,
html {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;

}

body{
    background-color: whitesmoke;
}

nav {
    width: 100%;
    position: relative;
    top: 20px;
    z-index: 1000;
    box-shadow: #25252513 0px 10px 10px 1px;
}

.container-navbar {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: rgba(240, 255, 255, 0.695);
    color: #252525;
}

.container-navbar>ul {
    display: inherit;
    flex-direction: row;
    padding: 20px 0;
}

.container-navbar>ul>li {
    list-style: none;
    margin: 0 25px;
}

.container-navbar>ul>li>a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.banner{
    position: relative;
    z-index: -10;
}
.banner>img {
    position: relative;
    top: -85px;
    z-index: -100;
    filter: brightness(85%);    
}


.banner > section{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -750px;
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-bottom: -200px;
}


.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative ;
    bottom: 100px;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content2 .product-wrap{
    display: inherit;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 0;
    box-shadow: #2525256b 0 0 10px 1px;
    margin-bottom: 150px;
}


.product-wrap > .desk{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;

}
.product-wrap > .desk > p{
    margin: 10px;
}
/* footer */
.container-footer{
    display: flex;
    flex-direction: column;
    background-color: #252525;
    background-size: cover;
}
.container-footer > .content-footer{
    display: inherit;
    flex-direction: row;
    color: aliceblue;
    position: relative;
    padding: 35px;
}

.container-footer > .content-footer > .text{
    width: 50%;
}

.container-footer > .content-footer > .text > ul{
    width: 50%;
}
.container-footer > .content-footer > .text li{
    list-style: none;
}

/* footerend */

/* fitur */

.container-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    box-shadow: #25252549 0 0 10px 10px;
}

.container-dropdown > .wrapper{
    padding: 30px;
    overflow: hidden;
    height: 50px;
    box-shadow: #25252511 0 -10px 10px 5px inset;
    margin-bottom: 10px;
    transition: height .2s;
}
.container-dropdown > button{
    width: 50px;
}


/* fiturend */

.content1{
    display: flex;
    flex-direction: column;
    align-items: center;     
    width: 1000px;
}
.content1 >  .desk {
    display: inherit;
    flex-direction: inherit;
}
.content1 > .desk > .detail{
    display: inherit;
    flex-direction: inherit;
}
.content1 > .desk > .detail > .content-top {
    display: flex;
    flex-direction: row;

}
.content1 > .desk > .detail > .content-top .section {
    display: inherit;
    flex-direction: row;
    width: 50%;
    margin: 0 20px;
    align-items: center;
    
}
.content1 > .desk > .detail > .content-bottom{
    display: inherit;
    flex-direction: row;
}
.content1 > .desk > .detail > .content-bottom .section{
    display: inherit;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0 20px;
}

.content1 > .desk > .detail img{
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

/* shape */
.custom-shape-divider-bottom-1675059370 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1675059370 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 302px;
}

.custom-shape-divider-bottom-1675059370 .shape-fill {
    fill: #F5F5F5;
}
/* shapeend */

